<div class="card">
   <div class="card-header">
     PRODUCT LIST
   </div>
   <div class="card-body">
      <table class="table table-striped">
         <thead>
           <tr>
             <th scope="col">ID</th>
             <th scope="col">Name</th>
             <th scope="col">Price</th>
             <th scope="col">Date</th>
             <th scope="col">Image</th>
             <th scope="col">Category</th>
             <th scope="col">Avaliable</th>
             <th scope="col"></th>
           </tr>
         </thead>
         <tbody>
          
           <tr ng-repeat="item in pager.items">
             <th >{{item.id}}</th>
             <th >{{item.name}}</th>
             <th>{{item.price | number : 2}}</th>
             <th>{{item.createDate | date : 'dd-MM-yyyy'}}</th>
             <th>{{item.image}}</th>
             <th>{{item.category.name}}</th>
             <th>{{item.available ? 'Yes' : 'No'}}</th>
             <th>
                <div class="btn-group btn-group-xs">
                   <button ng-click="edit(item)" class="btn btn-warning">Edit</button>
                   <button ng-click="delete(item)" class="btn btn-danger">Delete</button>
                </div>
             </th>
           </tr>
         </tbody>
       </table>
   </div>

      <div class="card-footer">
         <button class="btn btn-danger" ng-click="pager.first()"> First </button>
         <button class="btn btn-primary" ng-click="pager.prev()"> Prev </button>
         <button class="btn btn-success" > {{pager.page +1}} of {{pager.count}} </button>
         <button class="btn btn-primary" ng-click="pager.next()"> Next </button>
         <button class="btn btn-danger" ng-click="pager.last()"> Last </button>
   </div>
</div>